extends layout

block content

  -var prettify = function(dateString) { var date = new Date(dateString), d = date.getDate(dateString), monthNames = ['January', 'February', 'March', 'April', 'May', 'June','July', 'August', 'September','October', 'November', 'December'],m = monthNames[date.getMonth()],y = date.getFullYear();return m + ' ' + d + ', ' + y;}
  -var quoteNumber = quotes.length
  -var postNumber = posts.length
  -var j = 0

  include sidebar

  article
    each post, index in posts

      a(href=`/blog/${post.content.slug}`, title=post.content.title)
        h2 #{post.content.title}
      em
        time #{prettify(post.date.created)}
      p !{post.content.description}