doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content=metaDescription)
    meta(property="og:title", content=documentTitle)
    meta(property="og:url", content=canonicalUrl)
    meta(property="og:description", content=metaDescription)
    meta(property="og:image", content="/front/assets/images/jorge-valle.jpg")
    title=`${documentTitle} | Jorge Valle: blogging about JavaScript, user interfaces, and machine learning`
    link(rel="canonical", href= canonicalUrl)
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Karma|Roboto:300,400,700|Material+Icons")
    link(rel="stylesheet", href="/front/assets/styles/styles.css")

  body

    include header

    main
      block content

    div.image
      img(src=`/front/assets/images/dist/${headerImage.name}.jpg`, alt=headerImage.description, title=headerImage.description)

    include footer

    include cookie-consent

    div#fb-root
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML', defer)
    script(src="/front/assets/bundle.js", defer)