extends layout

block content

  // Jorge's profile
  include profile

  // The content of the blog post
  article.content(itemscope, itemtype="http://schema.org/Article")

    //- Main title
    h1.post-title(itemprop="headline")=title

    //- Published date
    em.post-date
      time(itemprop="datePublished") #{date}

    //- The index when present
    -if (index)
      div.index
        h2 Index
        nav !{index}

    //- The body, which is always present
    div.post-body !{body}

    //- The references, if present
    -if (references)
      div !{references}

    hr
    
    section.social-sharing
      h3.social-title
        i.material-icons share
        span Share the post
      p Although I love writing, it sure takes time. If you liked the post, please consider sharing on social networks.
      button#fb-share Facebook
      button#linkedin-share LinkedIn

    script.
      document.getElementById('fb-share').onclick = function() {
        FB.ui({
          method: 'share',
          href: '#{canonicalUrl}', // Passed from Pug
        }, function(response){});
      }
      document.getElementById('linkedin-share').onclick = function() {
        window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + '#{canonicalUrl}' + '&title=' + '#{title}' + '&summary=' + '#{description}' + '&source=JorgeValle.com', '_blank');
      }
  
  // The sidebar area
  include sidebar