extends layout

block content

  main.container-fluid.mt-4
    div.row
      div.col-xs-12.col-sm-12.col-md-8
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/blog') Blog
          li.breadcrumb-item.active=title
      div.col-xs-12.col-sm-12.col-md-4
        div.row
          div.col-xs-12.col-sm-12.col-md-8
            h1=title
        div.row
          div.col-xs-12.col-sm-12.col-md-8

            //-small.text-muted #{alternativeTitle == 'undefined Nan, Nan' ? '': ' or ' + alternativeTitle}
            p.lead.text-muted #{date}
            div !{bodyOne}

          div.col-xs-12.col-sm-12.col-md-4
            include newsletter-signup