extends layout

block content

  div(itemscope, itemtype="http://schema.org/Article")

    //- Main title
    h2(itemprop="headline")=title

    //- Published date
    em
      time(itemprop="datePublished") #{date}

    //- The index when present
    -if (index)
      h3 Index
      div !{index}

    //- The body, which is always present
    div !{body}

    //- The references, if present
    -if (references)
      div !{references}

    div.social-sharing
      i.material-icons share
      span Share on
      button#fb-share Facebook
      button#linkedin-share LinkedIn

    script.
      document.getElementById('fb-share').onclick = function() {
        FB.ui({
          method: 'share',
          href: '#{canonicalUrl}', // Passed from Pug
        }, function(response){});
      }
      document.getElementById('linkedin-share').onclick = function() {
        window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + '#{canonicalUrl}' + '&title=' + '#{title}' + '&summary=' + '#{description}' + '&source=JorgeValle.com', '_blank');
      }