extends layout

block content

  div(itemscope, itemtype="http://schema.org/Article")
    h2(itemprop="headline")=title

    em
      time(itemprop="datePublished") #{date}

    -if (index)
      h3 Index
      div !{index}

    div !{body}

    -if (references)
      div !{references}

    button#fb-share(data-url=canonicalUrl)
      i.material-icons share
      span Share on Facebook

    script.
      document.getElementById('fb-share').onclick = function() {
        FB.ui({
          method: 'share',
          href: this.getAttribute('data-url'), // Getting data-url attribute
        }, function(response){});
      }