extends layout

block content

  div(itemscope, itemtype="http://schema.org/Article")
    h2(itemprop="headline")=title

    em
      time(itemprop="datePublished") #{date}

    -if (index)
      h3 Index
      div !{index}

    div !{body}

    -if (references)
      div !{references}