extends layout

block content

  div(itemscope, itemtype="http://schema.org/Article")

    //- Main title
    h2(itemprop="headline")=title

    //- Published date
    em
      time(itemprop="datePublished") #{date}

    //- The index when present
    -if (index)
      h3 Index
      div !{index}

    //- The body, which is always present
    div !{body}

    //- The references, if present
    -if (references)
      div !{references}

    button#fb-share
      i.material-icons share
      span Share on Facebook

    script.
      document.getElementById('fb-share').onclick = function() {
        FB.ui({
          method: 'share',
          href: 'https://developers.facebook.com/docs/',
        }, function(response){});
      }