extends layout

block content
  h1.mb-5 Update

  nav.mb-3
    div.nav.nav-tabs#nav-tab
      a.nav-item.nav-link.active#post-tab(href="#post", data-toggle="tab") Post
      a.nav-item.nav-link#event-tab(href="#event", data-toggle="tab") Event
      a.nav-item.nav-link#quote-tab(href="#quote", data-toggle="tab") Quote

  div.tab-content#nav-tabContent
    div.tab-pane.fade.show.active#post
      //- This gets converted to a put by method-override package
      form(action='/api/update/post?_method=put', method='post')
        div.row
          div.col-12.form-group
            label(for='pageTitle') Title
            input#pageTitle.form-control(type='text', aria-describedby='pageTitleHelp', name='title', value=`${post.content.title}`)
            small#pageTitleHelp.form-text.text-muted The title of your page.
          div.col-12.form-group
            label(for='pageSlug') Slug
            input#pageSlug.form-control(type='text', aria-describedby='pageSlugHelp', name='slug', value=`${post.content.slug}`)
            small#pageSlugHelp.form-text.text-muted The URL slug for your page. If left blank, we'll generate an automatic one.
          div.col-12.form-group
            label(for='body') Description
            textarea#description.form-control(rows='2', aria-describedby='bodyHelp', name='description', onKeyDown="countChars('description', 'descriptionCount')", onKeyUp="countChars('description', 'descriptionCount')")=post.content.description
            small#descriptionHelp.form-text.text-muted The description, the elevator pitch. It should answer the question of people searching for the keywords. Aim for between 160 and 320 characters. Current characters: #[span#descriptionCount]
          div.col-12.form-group
            label(for='index') Index
            textarea#body.form-control(rows='4', aria-describedby='indexHelp', name='index')=post.content.index
            small#indexHelp.form-text.text-muted The index.
          div.col-12.form-group
            label(for='pageContentOne') Body
            textarea#body.form-control(rows='8', aria-describedby='bodyHelp', name='body', onKeyDown="countChars('body', 'bodyCount')", onKeyUp="countChars('body', 'bodyCount')")=post.content.bodies[0]
            small#bodyHelp.form-text.text-muted The body. Current characters: #[span#bodyCount]
          div.col-12.form-group
            label(for='index') References
            textarea#body.form-control(rows='2', aria-describedby='indexHelp', name='references')=post.content.references
            small#indexHelp.form-text.text-muted The index.
          div.col-12.form-group
            label(for='pageContentFive') City
            input#password.form-control(type='text', aria-describedby='passwordHelp', name='city', value=`${post.location.city}`)
            small#pageContentFiveHelp.form-text.text-muted The city where you're blogging from.
          div.col-12.form-group
            label(for='pageContentFive') Country
            input#password.form-control(type='text', aria-describedby='passwordHelp', name='country', value=`${post.location.country}`)
            small#pageContentFiveHelp.form-text.text-muted The country where you're blogging from.
          div.col-12.form-group
            label(for='country') Reading Estimate
            input#country.form-control(type='number', aria-describedby='countryHelp', name='estimate', value=`${post.time.estimate}`)
            small#countryHelp.form-text.text-muted The estimated reading time, in minutes.
          div.col-12.col-sm-4.form-group
            label(for='password') Password
            input#password.form-control(type='text', aria-describedby='passwordHelp', name='password')
            small#password.form-text.text-muted The API password.
        div.row
          div.col-12.col-sm-4
            button.btn.btn-primary(type='submit') Update
  script.
    var countChars = function(orig, dest) {
      var chars = document.getElementById(orig).value.length;
      var node = document.getElementById(dest);
      node.innerHTML = chars;
    }